body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
}
/*Nav */
.nav__color {
  background-color: #f2f2f2;
  box-shadow: 0 0 4px 0 rgb(14, 13, 13);
}
.nav-item {
  margin: 5px;
}
.nav__link {
  font-size: 13px;
  text-decoration: none;
  color: #f23e2e;
  text-transform: uppercase;
}
.nav__link:hover {
  color: black;
  transition: 0.5s;
}
.navbar-light .navbar-toggler {
  border: none;
}
.fa-solid.fa-bars {
  color: #f23e2e;
}
/*Main */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../Imágenes/Heroimage3.png);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.button1 {
  background-color: #f23e2e;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  margin: 20px 20px 50px 20px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}
.button1:hover {
  background-color: white;
  color: #f23e2e;
  transition: all 0.5s;
}
.button4 {
  background-color: #f23e2e;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  margin: 20px 20px 50px 20px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}
.button4:hover {
  background-color: white;
  color: #f23e2e;
  transition: all 0.5s;
}

.hero__title {
  color: white;
  font-size: 40px;
  margin-left: 50%;
  margin-right: 5%;
  font-weight: bold;
}
.hero__title span {
  color: #f23e2e;
}
.hero__text {
  color: white;
  font-size: 15px;
  margin: 20px;
}
.entrenemientos {
  transform: skew(0deg, 5deg);
  background-color: #f2f2f2;
  margin-top: -35px;
  height: auto;
}
.entrenamientos__contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  transform: skew(0deg, -5deg);
  padding-bottom: 20px;
}
.entrenamientos__contenido h2 {
  color: black;
  font-size: 30px;
  margin-left: 5px;
  margin-top: 20px;
  font-weight: 400;
}
.entrenamientos__contenido a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin: 10px auto 15px 5px;
  text-transform: uppercase;
}
.entrenamientos__contenido a:hover {
  color: #f23e2e;
  transition: all 0.5s;
}
.button3 {
  background-image: linear-gradient(
    to bottom,
    rgb(90, 87, 87),
    rgb(153, 149, 149)
  );
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: fixed;
  top: 50vh;
  border-radius: 50px;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
  width: 30px;
  height: auto;
  padding-right: 10px;
  padding-top: 5px;
  right: 10px;
  box-shadow: 2px 2px 2px 1px rgb(14, 13, 13);
  border: none;
  z-index: 100;
}
.button3:hover {
  color: black;
  transform: skew(5deg, 3deg);
  transition: all 2s ease;
}
.video {
  display: none;
}
.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map h2 {
  color: #f23e2e;
  font-size: 30px;
  font-weight: 400;
  margin: 10px;
  text-transform: uppercase;
  padding-top: 15px;
}
.map img {
  width: 90%;
  height: 80%;
  margin-bottom: 10px;
}
.button2 {
  background-color: #f23e2e;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}
.button2:hover {
  background-color: #f2f2f2;
  color: #f23e2e;
  transition: all 0.5s;
}
.card__section {
  width: 100%;
  background-image: url(../Imágenes/¿Que-es-CrossFit.png);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding-bottom: 60px;
}
.card__section h2 {
  font-size: 30px;
  color: white;
}
.card:hover {
  transform: translateY(-3%);
  transition: all 0.5s ease;
}
.planes__section {
  transform: skew(0deg, 5deg);
  background-color: #f2f2f2;
  margin-top: -35px;
  height: auto;
  margin-bottom: 30px;
}
.planes__section__contenido {
  transform: skew(0deg, -5deg);
  padding-bottom: 20px;
  justify-content: space-around;
}
.box__coach {
  background-color: rgba(0, 0, 0, 0.8);
}
.box__coach h5 span {
  color: #f23e2e;
  font-weight: bold;
}
.box__coach p span {
  color: #f23e2e;
  font-weight: bold;
}
/*Footer*/
.footer {
  font-size: 15px;
  background-color: black;
  color: white;
  width: 100%;
}
@media (min-width: 768px) {
  .entrenamientos__contenido {
    padding-bottom: 100px;
  }
  .video {
    display: inline-block;
    transform: skew(0deg, 5deg);
    background-image: linear-gradient(to right, rgb(12, 12, 12), #3b100c);
    margin-top: -35px;
    height: auto;
  }
  .video__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    transform: skew(0deg, -5deg);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .hero__title {
    color: white;
    font-size: 70px;
  }
  .hero__title span {
    color: #f23e2e;
  }
  .hero__text {
    color: white;
    font-size: 25px;
    margin-left: 60%;
    margin-right: 10%;
  }
  .button1 {
    background-color: #f23e2e;
    border-radius: 50px;
    color: white;
    font-size: 25px;
    margin-left: 60%;
    margin-right: 10%;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .button1:hover {
    background-color: white;
    color: #f23e2e;
    transition: all 0.5s;
  }
  .entrenamientos {
    height: 400px;
    background-position: center;
    background-repeat: none;
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .entrenamientos h2 {
    color: white;
    font-size: 70px;
    margin-left: 5px;
  }
  .entrenamientos a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-left: 5px;
    text-transform: uppercase;
  }
  .entrenamientos a:hover {
    color: #f23e2e;
    transition: all 0.5s;
  }
  .video iframe {
    width: 60%;
    height: 500px;
  }
  .button2 {
    font-size: 25px;
  }
  .map h2 {
    font-size: 25px;
  }
  .footer {
    font-size: 25px;
  }
  .card__section {
    padding-bottom: 100px;
  }
  .planes__section__contenido {
    padding-top: 100px;
  }
  .contacto__form {
    margin-left: 25%;
  }
  .input-group {
    width: 50%;
  }
}
