* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
}
/*Nav */
header {
  grid-area: header;
}
.nav {
  background-color: #f2f2f2;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  top: 0;
  box-shadow: 0 0 4px 0 rgb(14, 13, 13);
  z-index: 100;
}
.logo {
  width: 120px;
  margin-left: 20px;
}
.animate__animated.animate__heartBeat {
  animation-delay: 2s;
}
.bar__button {
  font-size: 25px;
  color: #f23e2e;
  margin-right: 20px;
  cursor: pointer;
}
.nav__list {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 43px;
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
  transition: all 2s;
}
.nav__list li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 3s;
}
.nav__list li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
.nav__list li a:hover {
  color: rgba(248, 8, 8);
  transition: 3ms;
}
#check {
  display: none;
}
#check:checked ~ .nav__list {
  height: 100vh;
}
#check:checked ~ .nav__list li {
  display: block;
}
/*Main*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../Imágenes/Heroimage3.png);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  margin: 50px 5px 5px 5px;
  grid-area: hero;
}
.button1 {
  background-color: #f23e2e;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  margin: 20px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
.button1:hover {
  background-color: white;
  color: #f23e2e;
  transition: all 0.5s;
}
.button2 {
  background-color: #f23e2e;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
.button2:hover {
  background-color: rgb(17, 16, 16);
  color: #f23e2e;
  transition: all 0.5s;
}
.button3 {
  background-image: linear-gradient(
    to bottom,
    rgb(90, 87, 87),
    rgb(153, 149, 149)
  );
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: fixed;
  top: 50vh;
  border-radius: 50px;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
  width: 30px;
  height: auto;
  padding-right: 10px;
  padding-top: 5px;
  right: 10px;
  box-shadow: 2px 2px 2px 1px rgb(14, 13, 13);
}
.button3:hover {
  color: black;
  transform: skew(5deg, 3deg);
  transition: all 2s ease;
}
.hero__title {
  color: white;
  font-size: 40px;
  margin-left: 50%;
  margin-right: 5%;
}
.hero__title span {
  color: #f23e2e;
}
.hero__text {
  color: white;
  font-size: 15px;
  margin: 20px;
}
.entrenamientos {
  background-image: url(../Imágenes/HombreLevantandoBarra.jpg);
  background-size: cover;
  height: 200px;
  background-position: center;
  background-repeat: none;
  display: flex;
  margin: 5px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  grid-area: entrenamientos;
}
.entrenamientos h2 {
  color: white;
  font-size: 30px;
  margin-left: 5px;
}
.entrenamientos a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-left: 5px;
  text-transform: uppercase;
}
.entrenamientos a:hover {
  color: #f23e2e;
  transition: all 0.5s;
}
.video {
  display: none;
  grid-area: video;
}
.map {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map h2 {
  color: #f23e2e;
  font-size: 15px;
  margin: 10px;
  text-transform: uppercase;
}
.map img {
  width: 90%;
  height: 80%;
  margin-bottom: 10px;
}
.card__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../Imágenes/¿Que-es-CrossFit.png);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  margin: 5px;
}
.card__section h2 {
  margin-top: 50px;
  font-size: 30px;
  color: white;
}
.card__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.card {
  width: 18vw;
  height: 20vh;
  margin: 20px;
  border-radius: 6px;
  cursor: default;
  position: relative;
  transition: all 400ms ease;
  box-shadow: 2px 2px 2px 1px rgb(82, 80, 80);
}
.card__image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card:hover {
  transform: translateY(-3%);
  transition: all 0.5s ease;
}
.card:hover .card__contenido {
  width: 100%;
  height: 90%;
  left: 0;
  bottom: 0;
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.card__contenido {
  position: absolute;
  text-align: center;
  height: 50px;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  transition: all 0.5s ease;
  overflow: hidden;
}
.card__contenido p {
  color: white;
}
.card__contenido h2 {
  font-weight: 200;
  margin-top: 0;
  color: white;
}
.horarios {
  width: 100%;
  height: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../Imágenes/FondoTabla.png);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
.horarios h2 {
  font-size: 40px;
  color: white;
}
.horarios__table {
  border: 1px solid white;
  width: 80%;
  height: 80%;
  color: white;
}
.horarios__table td {
  border: 1px solid white;
  padding: 3px;
}
.planes__section {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgb(19, 17, 17), rgb(90, 87, 87));
  margin: 5px;
}
.planes__section h2 {
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  align-self: center;
}
.planes__card__container {
  display: flex;
  justify-content: space-around;
}
.planes__card {
  width: 200px;
  height: 300px;
  margin: 20px;
  border-radius: 6px;
  background-image: linear-gradient(
    to bottom,
    rgba(185, 159, 159, 0.116),
    rgb(63, 56, 56)
  );
  cursor: default;
  transition: all 400ms ease;
  box-shadow: 2px 2px 2px 1px rgb(82, 80, 80);
}
.planes__card:hover {
  transform: translateY(-3%);
  transform: skew(5deg, 3deg);
  transition: all 0.5s ease;
}
.planes__card__contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  width: 100%;
  cursor: default;
}
.planes__card__contenido h2 {
  font-size: 25px;
  color: white;
}
.planes__card__contenido p {
  font-size: 15px;
  color: white;
}
.videos__title {
  font-size: 15px;
  text-transform: uppercase;
  color: #f23e2e;
  margin-top: 15%;
  margin-left: 50%;
}
.videos__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.videos__video {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videos__video h2 {
  font-size: 15px;
  color: #f23e2e;
  text-transform: uppercase;
  margin: 5px;
}
.videos__video iframe {
  width: 80%;
  height: 200px;
}
.tienda__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.7rem;
}
.tienda__section img {
  width: 100%;
}
/*Footer*/
.footer {
  font-size: 15px;
  background-color: black;
  color: white;
  width: 100%;
  margin: 5px;
  grid-area: footer;
}
@media (min-width: 768px) {
  .bar__button {
    display: none;
  }
  .nav__list {
    top: 10px;
    background: none;
    transition: none;
    text-align: right;
  }
  .nav__list li {
    display: inline-block;
    line-height: 30px;
    margin: auto 10px 0 10px;
    transition: none;
  }
  .nav__list li a {
    color: #f23e2e;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
  }
  .nav__list li a:hover {
    color: rgba(0, 0, 0, 0.8);
    transition: 3ms;
  }
  index__body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
  }
  .hero {
    width: 100%;
    margin: 50px auto auto auto;
  }
  .hero__title {
    color: white;
    font-size: 70px;
  }
  .hero__title span {
    color: #f23e2e;
  }
  .hero__text {
    color: white;
    font-size: 25px;
    margin-left: 60%;
    margin-right: 10%;
  }
  .button1 {
    background-color: #f23e2e;
    border-radius: 50px;
    color: white;
    font-size: 25px;
    margin-left: 60%;
    margin-right: 10%;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .button1:hover {
    background-color: white;
    color: #f23e2e;
    transition: all 0.5s;
  }
  .planes__section {
    display: flex;
  }
  .entrenamientos {
    height: 400px;
    background-position: center;
    background-repeat: none;
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .entrenamientos h2 {
    color: white;
    font-size: 70px;
    margin-left: 5px;
  }
  .entrenamientos a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-left: 5px;
    text-transform: uppercase;
  }
  .entrenamientos a:hover {
    color: #f23e2e;
    transition: all 0.5s;
  }
  .video iframe {
    width: 60%;
    height: 500px;
  }
  .button2 {
    font-size: 25px;
  }
  .map h2 {
    font-size: 25px;
  }
  .footer {
    font-size: 25px;
  }
}
